
* {padding: 0; margin: 0; scroll-behavior: smooth;}

body{
    width: 100%;
    background-color: rgb(204, 216, 224);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.frame{
    margin: 70px 150px;
    display: flex;
    flex-direction: column;}
    
        @media (max-width: 1166px){
            .frame{
                margin: 30px 0px;}
        }

        @media (max-width: 430px){
            .frame{
                margin: 20px 0px;}
        }


#title{
    float: left;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:rgb(114, 126, 131);
    padding: 30px;
    line-height: 70px;
    margin-bottom: 50px;
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-right: 40%;
    margin-left: 20%;
    position: relative;
    margin: 0px; 
    margin-bottom: 2px;
    text-decoration: none;
}

nav ul li{
    margin: 10px;
    text-align: center;
}

nav ul li:hover{
    background-color: rgb(146, 176, 190);
    transition: 0.2s;
    padding: 5px;
    border-radius: 30px;
}

.menu{
    width: 100px;
    font-weight: 300;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:rgb(53, 57, 59);
    letter-spacing: 0; 
}

.menu:hover {
    color:rgb(255, 255, 255);
}

.navigator{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(242, 251, 255);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 30px;
    opacity: 80%;
}
a {text-decoration: none;}





.info{
    max-width: 1200px;
    display: grid; 
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.top-button{
    --offset: 50px;

    position: sticky;
    bottom: 20px;
    place-self: end;
    margin-top: 100vh + var(--offset);
    z-index: 1;
    color:rgb(100, 112, 119);
    text-decoration: none;
    float: right;
    margin: 30px;
    padding: 10px;
    background-color: rgb(242, 251, 255);
    border-radius: 30px;
    opacity: 70%;
}

.works-title{grid-column: 1; grid-row: 1;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
    color: rgb(114, 126, 131);
    font-size: 50px;
    margin-bottom: 30px;
}

.works-info{grid-column: 2/4; grid-row: 1/1;
    font-family: 'Gowun Batang', 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;

}

.works-spec{grid-column: 2/4; grid-row: 2;
    font-family: 'Noto Serif KR', 'Montserrat', sans-serif;
    font-size: 20px;
    word-spacing: 2px;
    margin-bottom: 30px;
    color: rgb(114, 126, 131);
}

b{font-weight: 900;}

.line{
    height: .5px; 
    background-color:rgb(150, 160, 165); 
    text-align: center;
    margin: 10vh;
    position: relative;
    
}

/*------------슬라이드 공용----------*/
.slidewrap{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
}

.slidelist{
    white-space: nowrap;
    font-size:0;
}

.slidelist > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.slidelist > li > a{
    display: block;
    position: relative;
}

.slidelist > li > a img{
    width: 100%;
}

.slide-control{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%;
}

.slide-control label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 45px;
    cursor: pointer;
}

.slide-control .left{
    left: 1rem;
    background: url("left.png") center center / 50% no-repeat;
}

.slide-control .right{
    right: 1rem;
    background: url("right.png") center center / 50% no-repeat;
}







/*-------섹션1(bluegarden) 개별 설정-------*/

    .bluegarden-fix{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 1200px;
        text-align: center;
        grid-gap: 5px;
        margin-bottom: 5px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-fixed{
        max-width: 100%;
        height: auto;
    }



    .bluegarden input[id*="bg"]{display: none;}
    
    .bluegarden [id="bg1"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
    .bluegarden [id="bg2"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
    .bluegarden [id="bg3"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
    .bluegarden [id="bg4"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
    .bluegarden [id="bg5"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    .bluegarden [id="bg6"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}
    .bluegarden [id="bg7"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-600%);}
    .bluegarden [id="bg8"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-700%);}
    .bluegarden [id="bg9"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-800%);}
    .bluegarden [id="bg10"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-900%);}

    .bluegarden .slide-control [class*="control"] {display: none;}

    .bluegarden [id="bg1"]:checked ~ .slidewrap .control01 {display: block;}
    .bluegarden [id="bg2"]:checked ~ .slidewrap .control02 {display: block;}
    .bluegarden [id="bg3"]:checked ~ .slidewrap .control03 {display: block;}
    .bluegarden [id="bg4"]:checked ~ .slidewrap .control04 {display: block;}
    .bluegarden [id="bg5"]:checked ~ .slidewrap .control05 {display: block;}
    .bluegarden [id="bg6"]:checked ~ .slidewrap .control06 {display: block;}
    .bluegarden [id="bg7"]:checked ~ .slidewrap .control07 {display: block;}
    .bluegarden [id="bg8"]:checked ~ .slidewrap .control08 {display: block;}
    .bluegarden [id="bg9"]:checked ~ .slidewrap .control09 {display: block;}
    .bluegarden [id="bg10"]:checked ~ .slidewrap .control10 {display: block;}




/*-------섹션2(girlslove) 개별 설정-------*/

.lily-fix{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    text-align: center;
    grid-gap: 5px;
    margin-bottom: 5px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


    .lily input[id*="gl"]{display: none;}
    
    .lily [id="gl1"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
    .lily [id="gl2"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
    .lily [id="gl3"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
    .lily [id="gl4"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
    .lily [id="gl5"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    .lily [id="gl6"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}

    .lily .slide-control [class*="control"] {display: none;}

    .lily [id="gl1"]:checked ~ .slidewrap .control01 {display: block;}
    .lily [id="gl2"]:checked ~ .slidewrap .control02 {display: block;}
    .lily [id="gl3"]:checked ~ .slidewrap .control03 {display: block;}
    .lily [id="gl4"]:checked ~ .slidewrap .control04 {display: block;}
    .lily [id="gl5"]:checked ~ .slidewrap .control05 {display: block;}
    .lily [id="gl6"]:checked ~ .slidewrap .control06 {display: block;}



/*-------섹션3(물줄기를 따라) 개별 설정-------*/

.stream-fix{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    text-align: center;
    grid-gap: 5px;
    margin-bottom: 5px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.img-fixed{
    max-width: 100%;
    height: auto;
}
.img-fixed-wide{
    max-width: 100%;
    grid-column: 1/4; grid-row: 1;}



    .stream input[id*="st"]{display: none;}

    .stream [id="st1"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
    .stream [id="st2"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
    .stream [id="st3"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
    .stream [id="st4"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
    .stream [id="st5"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    .stream [id="st6"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}
    .stream [id="st7"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-600%);}
    .stream [id="st8"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-700%);}
    .stream [id="st9"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-800%);}
    .stream [id="st10"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-900%);}

    .stream .slide-control [class*="control"] {display: none;}

    .stream [id="st1"]:checked ~ .slidewrap .control01 {display: block;}
    .stream [id="st2"]:checked ~ .slidewrap .control02 {display: block;}
    .stream [id="st3"]:checked ~ .slidewrap .control03 {display: block;}
    .stream [id="st4"]:checked ~ .slidewrap .control04 {display: block;}
    .stream [id="st5"]:checked ~ .slidewrap .control05 {display: block;}
    .stream [id="st6"]:checked ~ .slidewrap .control06 {display: block;}
    .stream [id="st7"]:checked ~ .slidewrap .control07 {display: block;}
    .stream [id="st8"]:checked ~ .slidewrap .control08 {display: block;}
    .stream [id="st9"]:checked ~ .slidewrap .control09 {display: block;}
    .stream [id="st10"]:checked ~ .slidewrap .control10 {display: block;}


/*------------------섹션4(세월호) 개별 설정--------------*/

#sewol-title{
    font-size: 25px;
}
#sewol-title2{
    font-size: 18px;
}
.sewol-fix{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1200px;
    text-align: center;
    grid-gap: 5px;
    margin-bottom: 5px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.img-fixed{
    max-width: 100%;
    height: auto;
}

.sewol-video{
    max-width: 1200px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
.sewol-video > iframe, object, embed{
position: absolute; 
top: 0;
left: 0;
width: 100%;
height: 100%; 
}

































/*----------------------------------------반응형---------------------------------------*/

@media (max-width: 1166px){

    img{image-resolution: 200dpi;}
    
    #title{
        font-size: 40px;
        padding-left: 20px;
        padding-right: 500px;
    }

    .works{
        margin: 0px 30px;
    }

    .navigator{
        width: 100vw;
        border-radius: 0;
    }

    nav ul li{
        margin: 3px;
    }

    .menu{
        font-size: 18px;
        font-weight: 400;
        line-height: 0.2;
        word-break: keep-all;
    }

    .info{
        grid-gap: 20px;
        grid-template-columns: 120px 1fr;

    }

    .works-title{
        font-size: 40px;
    }

    .works-info{
        font-size: 20px;
        margin-left: 5px;
    }

    .works-spec{
        font-size: 18px;
        grid-column: 1/4;
    }

    #stream-title{
        font-size: 30px;
    }

    #sewol-title{
        word-break: keep-all;
    }
}



@media (max-width: 430px) {
    img {image-resolution: 72dpi; }
    
    #title{
        font-size: 30px;
        padding-left: 20px;
        padding-right: 500px;
    }
    
    .works{
        margin: 0;
    }

    .navigator{
        width: 100vw;
        border-radius: 0;
    }

    nav ul li{
        margin: 0;
        line-height: .8;
    }

    nav ul li:hover{
        color: white;
        background-color: rgb(146, 176, 190);
        transition: 0.2s;
        padding: 5px;
        border-radius: 20px;
    }

    .menu{
        font-size: 16px;
        font-weight: 400;
    }


    .top-button{
        bottom: 10px;
        margin: 15px;
        padding: 8px;
    }

    .info{
        grid-gap: 10px;
        grid-template-columns: 90px 1fr;
        margin-left: 3px;
    }

    .works-title{
        font-size: 30px;
    }

    .works-info{
        font-size: 16px;
        margin: 0;
        margin-bottom: 10px;
    }

    .works-spec{
        font-size: 14px;
        grid-column: 1/4;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #lily-title{
        font-size: 25px;
        word-break: break-all;
    }

    #stream-title{
        font-size: 23px;
    }

    #sewol-title{
        font-size: 20px;
        word-break: keep-all;
    }






}